/***Styling for Individual Blog Articles*GEoffStengel Website***/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
    --primary-color: #003366;
    --secondary-color: #f9f9f9;
    --accent-color: rgb(238, 28, 175); 
    --bkgd-color: #ffffff;
    --card-bkgd: #f9f9f9;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --box-shadow-light: 0 4px 10px rgba(0, 0, 0, 0.1);
    --text-1: #eaf9fa;
    --text-2: #555555;
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    --transition-speed: 600ms;
}   
body{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.5em;
	line-height: 1.5;
	text-align: center;
    color: #ffffff;
	background: #0052a5;
}
/*******Section Main Grid Area*********/
section{
	max-width: 700px;
	height: 100%;
    margin: 0 auto;
	border-radius: 8px;
	background-color: #ddd;
	box-shadow: 0 0 20px black;
}
/**Nav Bar Holding Main Page Buttons***/
p, a{
	margin: 0 auto;
	color:black;
	text-align: center;
}
/*adjust around nav boxes icons on trash blog*/
ul li a {
	display: block;
	padding: 10px;
	color: #fff; 
	text-decoration: none;
	text-align: center;
	font-size: 16px;
}
ul{
	margin: 0 auto;
	color:black;
	text-align: center;
	font-size: 20px;
	line-height: 15px;
	text-align: center;
	margin-bottom: 8px;
	padding-left: 5%;
	padding-right: 5%;
	font-family: sans-serif;
	text-shadow: 1px 1px 2px #7dabd2;
}
.trashanomics, .cleanup_locations {
	margin: 0 auto;
	color:black;
	text-align: center;
	font-size: 20px;
	text-indent: 17px;
	line-height: 35px;
	text-align: left;
	margin-bottom: 8px;
	padding-left: 5%;
	padding-right: 5%;
	font-family: sans-serif;
	text-shadow: 1px 1px 2px #7dabd2;
}
#content div{
	padding: 8px;
}
/***Header Wraps Nav & Logo*****/
header{
	display: grid;
	max-width: 900px;
	height: 65px;
	grid-template-columns: 1fr;
	grid-template-rows: 60px;
	align-content: center;
	border-radius: 10px;
	text-align: center;
	margin: 0 auto;
	border-style: outset;
	border-width: 4px;
	border-color: #ddd;
	background: #0075D9;
	box-shadow: 0 0 10px black;
}
#nav-links li{
    display: inline-block;
}
#nav-links a:hover{
    color:#0088a9;
}
.nav-links p{
	display: none;
} 
/**Nav Bar Holding Main Page Buttons***/
nav{
    display: flex;
    width: 100%;
    margin: 0 auto;
    float: right;
    align-items: center;
    justify-content: right;
}
.nav a{
    font-size: 10px;
    text-align: center;
    text-decoration: none;
}
.nav p{
    margin-top: 3px;
}
h1{
	font-size: 45px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	color: #0075D9;
	padding-bottom:  2%;
	margin-top: 10px;
	margin-bottom: 5px;
	box-shadow: 0 0 20px black;
	text-align: center;
	padding: 0;
	-webkit-text-stroke-color: #fbb505;
	-webkit-text-stroke-width: .02rem;
	stroke: solid;
	text-shadow: 10px 10px 30px rgba(0,0,0,0.1);
}
h2{
	font-size: 34px;
	margin-top: 10px;
	margin-bottom: 10px;
	color: #ff8000;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h3{
	font-size: 12px;
	color: #0075D9;
}
/*Text Above shortAddress*/
h4{
	font-size: 16px;
	color:black;
	font-family: monospace;
	text-shadow: 10px 10px 30px rgba(0,0,0,0.1);
	text-shadow: 1px 1px 2px #7dabd2;
}
.contractAddress{
	font-size: 14px;
	letter-spacing: 2px;
	padding-left: 1%;
	padding-right: 1%;
}
#contractAddress{
	display: flex;
	align-self: center;
	margin: 0 auto;
}
/*COPY BTN SECTION START*/
.contract_info {
	display: flex;
	align-items: center;
	background-color: #1a1a1a; /* Dark background to match TikTok logo theme */
	padding: 10px;
	border-radius: 5px;
	width: fit-content;
  }
  /*Hold Copy Icon & Contract Address*/
  .copy-container{
	display: grid;
	height: 50px;
	width: 100%;
	grid-template-columns: 1fr 30px;
	column-gap: 2px;
  }
  .copy-icon {
	cursor: pointer;
	width: 20px;
	height: 20px;
	transition: fill 0.3s;
	margin: 0 auto;
	align-self: center;
  }
  .copy-icon:hover {
	fill: #69C9D0; /* Cyan on hover to match TikTok theme */
  }
  .copied {
	fill: #28a745; /* Green when copied */
  }
/*COPY BTN SECTION END*/
/***Text At Top Of Page With Contract Address***/
#contract_info{
	max-width: 475px;
	margin: 0 auto;
	text-align: center;
	text-indent: 0%;
	margin-bottom: 10px;
	box-shadow: 0 0 10px black;
	background-color: rgba(214, 213, 213, 0.918);
	border-radius: 10px;
}
.fullContractAddress{
	padding: 12px;
	background-color: #00c853;
 }
#contract_info a:hover{
	border-radius: 10px;
	box-shadow: 0 0 10px black;
	cursor: pointer;
}

/*ShortAddress START*/
#contract_info_short{
	display: flex;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	width: 200px;
	margin: 0 auto;
}
#shortAddress{
	display: flex;
	align-self: center;
	margin: 0 auto;
}
/*ShortAddress END*/
/**Color For Text Links In Blog****/
a{
	color:#0075D9;
	text-decoration: none;
}
p{
	font-size: 20px;
	text-indent: 17px;
	line-height: 35px;
	text-align: left;
	margin-bottom: 8px;
	padding-left: 5%;
	padding-right: 5%;
	font-family: sans-serif;
	text-shadow: 1px 1px 2px #7dabd2;
}
/***Adjust Boxes For Nav Buttons******/
.box {
    height: 35px;
    width: 35px;
    border-radius: 10px;
	margin: 0 auto;
	margin-top: 10px;
	justify-content: center;
	align-content: center;
	box-shadow: 0 0 10px black;
	background-color: #ddd;
    text-align: center;	
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
   /** box-shadow: 2px 2px 2px 2px rgb(26, 26, 26);**/
}
.box:hover{
	background-color: hotpink;
}
/****Box*Presses*In*Effect*When*Pressed**Start***/
.box:active{
	height: 34px;
	width: 34px;
}
.box p{
	margin: 0 auto;
	text-align: center;
}
.box0, .box1, .box2, .box3, .box4, .box5, .box6{
	border-style: solid;
	border-width: 2px;
	border-color: #3aad09;
}

.box0{background-image: url(../images/home-rickety.svg);}
.box1{background-image: url(../images/house-W-leafs.svg);}
.box2{background-image: url(../images/chat-icon.svg);}
.box3{background-image: url(../images/taco.svg);}
.box4{background-image: url(../images/sun-emoji-svg.svg);}
.box5{background-image: url(../images/seedling-emoji.png);}
.box6{background-image: url(../images/music-note-blue-bkgd.svg);}

/************************/
/**Tooltip Popup Explains What Tab Is START**/
.box0::before, .box1::before, .box2::before, .box3::before, .box4::before, .box5::before, .box6::before{
	content: attr(data-tooltip);
	position: absolute;
	display: flex;
	background-color: #23232e84;
	color: #ddd;
	padding: 0;
	border-radius: 100px;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);
	transform: translateY(-30) rotate(25deg);
	opacity: 0;
	transition: 200ms cubic-bezier(.42,0,.44,1.68);
	font-size: 10px;
	padding: 5px;
}

.box0:hover, .box1:hover, .box2:hover, .box3:hover, .box4:hover, .box5:hover, .box6:hover{
	background-color: var(--accent-color);
	fill: #ddd;
}
.box0::after, .box1::after, .box2::after, .box3::after, .box4::after, .box5::after, .box6::after{
	content: '';
	position: absolute;
	height: 0;
	width: 0;
	transform: translateY(0) rotate(25deg);
	opacity: 0;
	transition: 200ms cubic-bezier(.42,0,.44,1.68);
}
.box0:hover::before, .box1:hover::before, .box2:hover::before, .box3:hover::before, .box4:hover::before, .box5:hover::before, .box6:hover::before{
	transform: translateY(0) rotate(0);
	opacity: 1;
}
.box0:hover::after, .box1:hover::after, .box2:hover::after, .box3:hover::after, .box4:hover::after, .box5:hover::after, .box6:hover::after{
	transform: translateY(-42px) rotate(0);
	opacity: 1;
}
/**Tooltip Popup Explains What Tab Is START**/

.blog1{
	align-content: center;
	justify-content: center;
	margin: 0 auto;
}
img{
	display: grid;
	width: 70%;
	height: 70%;
	align-content: center;
	justify-content: center;
	margin: 0 auto;
}
.disclaimerish p{
	font-size: 16px;
}
.youtube_logo{
	width: 100%;
}
.rarible_logo{   /**Trezor ** Ad ** Logo ** At ** Bottom***/
	width: 25%;
	height: 25%;
	margin: 0 auto;
	margin-bottom: 10px;
	border-radius: 20px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	box-shadow: 0 0 20px black;
}
/**********Tipbot settings**start**********/
.baconwrap{
	display: grid;
	grid-template-columns:repeat(2, minmax(60px, 60px));
	grid-template-rows: repeat(1,  minmax(60px, auto));
	max-width: 2600px;
	text-align: center;
	font-size: 12px;
	line-height: 20px;
	padding-top: 20px;
	padding-bottom: 15px;
	justify-content: center;
	grid-gap: 10px;
	margin: 0 auto;
}
.baconwrap div{
	padding: 10px;
	border-radius: 10px;
}
.tacos {
	width: 50px;
	height: 20px;
	grid-row: 2;
} 
/***********Tipbot settings***finish*********/
.stengel-logo, .tacos{
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
    margin: 0 auto;
	color: #fff;
}
.stengel-logo{background-image: url(../images/menagerie_icon.jpg);}
.taco_salad{background-image: url(../images/taco.svg);}

.stengel-logo, .taco_salad {
	width: 30px;
	height: 30px;
	margin: 0 auto;
}
#title_emojis{
	margin: 0 auto;
	text-align: center;
	padding: 10px;
	text-indent: 0;
}
.section-titles{
	font-family: sans-serif;
	text-shadow: 1px 1px 2px #ff00dd;
	color: #000000;
	font-size: 26px;
}
.click_here{
	font-size: 16px;
}


/*******Mobile Devices ***************************/
  /**********************************/
    /*****Hamburger START*************/
@media screen and (max-width: 1224px){	
.nav-links p{
	display: flex;
    text-align: center;
    justify-content: center;font-size: 12px;
	color: #ddd;
	margin: 0 auto;
	
} 
.nav-links a{
	height: 75px;
	
}
nav {
    display: flex;
    justify-content: center;
    align-items: center;
}
.hamburger {
    cursor: pointer;
    width: 20px;
    height: 25px;
    margin: 10px;
    position: fixed;
    top: 10px; 
    right: 10px; 
    margin: 10px;
    margin-top: 0px;
    z-index: 1000;
}
.bar {
    height: 2px;
    margin: 6px 0;
    transition: all 0.3s ease;
    border-radius: 12px;
}
.bar1 {
    background: orange; /* Orange */
}
.bar2 {
    background: #00c853; /* Green */
}
.bar3 {
    background: #2979ff; /* Blue */
}
#nav-links{
    margin-top: 0px;
}
.nav-links {
    display: none;
    position: fixed;
    top: 50px; 
    right: 0;
    background-color: #23232ecd;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    z-index: 1000;
    opacity: 0; /* Start hidden */
    transform: translateY(-10px); /* Initial position */
    transition: opacity 0.3s ease, transform 0.3s ease;
    flex-direction: column;
    width: 100%;
    max-width: 250px;
    height: 100%;
}
.nav-links.show {
    display: flex;
    opacity: 1; /* Fade in */
    transform: translateY(0); /* Move to original position */
    padding-top: 5px;
}
.nav-links li {
    width: 100%; /* Each link takes full width */
    margin-bottom: 0px; /* Space between links */
}
.nav-links a {
    display: block; /* Ensure each link is a block element */
    width: 100%; /* Full width */
    padding: 2px 0; /* Padding for better click area */
    text-align: center; /* Center the text */
    text-decoration: none; /* Remove underline */
    color: #ddd; /* Text color */
    font-size: 10px; /* Font size */
}
.nav-buttons {
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
    transition: background 0.3s, color 0.3s;
}
.nav-buttons:hover {
    color: #000;
}
/* Animation for the bars */
.bar1.active {
    transform: rotate(45deg) translate(6px, 6px); /* Adjusted for better X shape */
    width: 20px;
}
.bar2.active {
    opacity: 0; /* Fade out */
}
.bar3.active {
    transform: rotate(-45deg) translate(6px, -6px); /* Adjusted for better X shape */
 }
}
/* Initially hide the hamburger button */
@media screen and (min-width: 1225px) {
    .hamburger {
        display: none; /* Hide hamburger button */
    }
}

@media screen and (max-width: 930px) {
section{
	width: 95%;	
	}
}
/**************************************************/
/*******Mobile Devices ***************************/
@media screen and (max-width: 488px) {
/*Hold Copy Icon & Contract Address*/
.copy-container{
	display: grid;
	width: 100%;
	grid-template-columns: 1fr 20px;
	column-gap: 2px;
  }
.contractAddress{
	font-size: 12px;
	letter-spacing: .1em;
	padding-left: 0;
	padding-right: 0;
}  
}

@media screen and (max-width: 450px) {
section{
  width: 95%;	
 }
 p{
	font-size: 16px;
	text-indent: 17px;
	line-height: 35px;
	text-align: left;
	margin-bottom: 8px;
 }
#title_emojis{
	margin: 0 auto;
	padding: 10px 0px 10px 0px;
	text-indent: 0px;
}
ul{
	margin: 0 auto;
	color:black;
	text-align: center;
	font-size: 16px;
	text-indent: 17px;
	line-height: 35px;
	text-align: left;
	margin-bottom: 8px;
	padding-left: 5%;
	padding-right: 5%;
	font-family: sans-serif;
	text-shadow: 1px 1px 2px #7dabd2;
}
h2{
	font-size: 30px;
	margin-top: 5px;
	margin-bottom: 10px;
	color: #ff8000;
}
/**********Tipbot settings**start**********/
.helpful_links{
	display: grid;
	text-indent: 0px;
	margin: 0 auto;
	text-align: center;
}
.helpful_links p{
	text-indent: 0px;
}
.click_here{
	font-size: 12px;
}
}
@media screen and (max-width: 400px) {
.box{
	border-radius: 12px;
 }
h1{
	font-size: 28px;
}
.contractAddress{
	margin: 0 auto;
 }
 .fullAddress{
	font-size: 10px;
 }
}
@media screen and (max-width: 350px) {
	p{
		text-indent: 17px;
		line-height: 30px;
		text-align: left;
		margin-bottom: 7px;
		padding-left: 15px;
		padding-right: 15px;
	}
.contractAddress{
	font-size: 12px;
}
.fullAddress{
	font-size: 8px;
 }
 	
}
/**************************************************/
/*******Small Devices ***************************/
@media screen and (max-width: 315px) {	
section{
	width: 16em;
}
p{
	text-indent: 16px;
}
.box{
    border-radius: 10px;		
}
#adlogo{
	background-image: url(/images/trezor_ad.jpg);
	width: 10em;
	height: 8em;
	margin: 0 auto;
	margin-bottom: 10px;
	border-radius: 20px;
 }
}

/************************************************/
/*******Tiny Devices ***************************/
@media screen and (max-width: 210px) {
body{
    background: #333;	
}
section{
	background-color: chocolate;
	background-position: center;
	height: 100%;
	width: 14em;
	background-size: cover;
	background-repeat: no-repeat;
}
p{
	font-size: 20px;	
 }
}
/*** Tiny Devices ***/
