/***CSS*Shop*Page***Geoff*Stengel***/
* {
	margin: 0;
	padding: 0;
}

body{
	background-color: rgb(0, 123, 255);
	/**background: #0a0212; **/
    background-image: radial-gradient(circle at 85% 1%, hsla(190,0%,93%,0.05) 0%, hsla(190,0%,93%,0.05) 96%,transparent 96%, transparent 100%),radial-gradient(circle at 14% 15%, hsla(190,0%,93%,0.05) 0%, hsla(190,0%,93%,0.05) 1%,transparent 1%, transparent 100%),radial-gradient(circle at 60% 90%, hsla(190,0%,93%,0.05) 0%, hsla(190,0%,93%,0.05) 20%,transparent 20%, transparent 100%),radial-gradient(circle at 79% 7%, hsla(190,0%,93%,0.05) 0%, hsla(190,0%,93%,0.05) 78%,transparent 78%, transparent 100%),radial-gradient(circle at 55% 65%, hsla(190,0%,93%,0.05) 0%, hsla(190,0%,93%,0.05) 52%,transparent 52%, transparent 100%),linear-gradient(135deg, rgb(37, 56, 222),rgb(96, 189, 244));
	width: 100%;
	max-height: 100%;
	margin: 0 auto;
}

h1{
    margin: 1% 0 1% 0;
    color: #ddd;
    font-family: 'nunito';
    font-size: 36px;
}

p{
    text-decoration: none;
    box-shadow: 10px 10px 30px rgba(0,0,0,0.1); /**special for text***/
}

/***Header Holds Nav Buttons & Logo*****/
header{
    display: grid;
    width:100%;
    height: 50px;
    background-color: #DCF506;
    margin: 0 auto;
    border-radius: 10px;
    justify-content: center;
    align-content: center;

}

/**Nav Bar Holding Main Page Buttons***/
#nav{
    display: grid;
    width: 90%;
    height: 90%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: 50px;
    margin: 0 auto;
    justify-content: center;
    align-content: center;
    text-align: center;
    border-radius: 10px;
    font-size: 16px;
    color: #ddd;
    background-color: #E004B4;
}

#nav a{
    font-size: 16px;
    color: #ddd;
    text-decoration: none;
}

/****Main Section Tag Wrapping Content**Inside Body*******/
#wrapper{
    display: grid;
    max-width:700px;
    max-height: 100%;
    grid-template-rows: auto;
    padding: 10px;
    border-radius: 10px;
    margin: 0 auto;
    background-color: #0075D9;
    box-shadow: 0 0 10px black;
}

/****Grid Holding All Shopping Items**********/
#shop_items_grid{
    display: grid;
    max-width: 100%;
    max-height: 100%;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 13px;
    padding: 10px;
    margin: 0 auto;
    justify-content: center;
    border-radius: 10px;
    background-color: black;
    background-color: darkolivegreen;
}

#shop_items_grid div{
    text-align: center;
    margin: 0 auto;
    
}

#shop_items_grid a{
    text-align: center;
    margin: 0 auto;
    color: black;
    text-decoration: none;
}

/*****Controls Adjustments To Item Images******/
.img_item{
	width: 100%;
    max-height: 100%;
	border-radius: 10px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	box-shadow: 0 0 5px black;
}

/***Box Holds Items Also Nav Buttons Have That Class****/
.box{
    border-radius: 10px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;	
	padding: 5px;
    background-color: #ddd;
}