/***CSS*Index*Page***Geoff*Stengel***/
* {
	margin: 0;
	padding: 0;
}
 
body, html{
	background-color: rgb(0, 191, 255);
	/**background: #0a0212; **/
	background-image: repeating-linear-gradient(135deg, rgb(0,0,0) 0px, rgb(0,0,0) 10px,transparent 10px, transparent 11px),repeating-linear-gradient(22.5deg, rgb(0,0,0) 0px, rgb(0,0,0) 10px,transparent 10px, transparent 11px),linear-gradient(90deg, hsl(194,74%,56%),hsl(266,74%,56%),hsl(338,74%,56%),hsl(50,74%,56%),hsl(122,74%,56%));

	margin: 0 auto;
    padding: 10px;

}
/**
body{
    width:100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    justify-content: center;
    align-content: center;
    align-self: center;
}
**/
h1{
    color: #ddd;
    font-family: 18thcentury;
    font-size: 36px;
    margin: 0 auto;
}
h2{
    color: #ddd;
    font-family: 18thcentury;
    font-size: 20px;
    padding: 0;
    margin: 0 auto;
}
 
/****Main Section Tag Wrapping Content**Inside Body*******/
#wrapper{
    display: grid;
    max-width: 500px;
    height:520px;
    padding: 10px;
    /**margin-top: 5%;**/
    border-radius: 10px;
    background: url('../images/harmonica.svg') no-repeat;
    background-color: #0075D9;
    box-shadow: 0 0 10px black;
    margin: 0 auto;
    border-style: solid;
	border-width:3px;
	border-color: #ddd;
}

/***Header Holds Nav Buttons & Logo*****/
/**
header{
    display: grid;
    width:90%;
    height:100%;
    margin: 0 auto;
    border-radius: 10px;
    background-color: #DCF506;
    box-shadow: 0 0 10px black;
    padding: 10px;
}**/

/**Nav Bar Holding Main Page Buttons***/
.nav{ 
    display: grid;
    max-width:100%;
    height:100%;
    grid-template-columns: repeat(auto-fit, minmax(50px, auto));
    grid-template-rows: auto;
    column-gap: 5%;
    margin: 0 auto;
    justify-content: center;
    align-content: center;
    text-align: center;
    border-radius: 10px;
    font-size: 16px;
    color: #ddd;
/** box-shadow: 0 0 10px black;
    background-color: #E004B4;
    border-style: solid;
	border-width:2px;
	border-color: #ddd;**/
} 

.nav a{
    font-size: 16px;
    color: #ddd;
    text-decoration: none;
}

.box0{
    background-image: url(../images/home-rickety.svg);
    border-style: solid;
	border-width:2px;
	border-color: #3aad09;
}
.box1{
    background-image: url(../images/house-W-leafs.svg);
    border-style: solid;
	border-width:2px;
	border-color: #3aad09;
}
.box2{
    background-image: url(../images/chat-icon.svg);
    border-style: solid;
	border-width: 3px;
	border-color: #3aad09;
}


.box {
    height: 55px;
    width: 55px;
    border-radius: 10px;
	margin: 0 auto;
	margin-top: 10px;
	justify-content: center;
	align-content: center;
	box-shadow: 0 0 10px black;
	background-color: #ddd;
    text-align: center;	
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
   /** box-shadow: 2px 2px 2px 2px rgb(26, 26, 26);**/
}

.box:hover{
	background-color: hotpink;
}

/****Box*Presses*In*Effect*When*Pressed**Start***/
.box:active{
	height: 40px;
	width: 40px;
}

img{
	width: 100%;
	border-radius: 10px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	box-shadow: 0 0 5px black;
    
}

.youtube{
    width:85%;
    height:155px;
    margin: 0 auto;
    font-size: 12px;
    padding: 5px;
    padding-top: 10px;
    margin: 0 auto;
    justify-items: center;
	align-items: center;
 /**   background-color: cadetblue;**/
    background-color:#ddd;
}

.youtube a, .youtube p{
    text-decoration: none;
    color: black;
    padding-top: 5px;
 }


.img_item_youtube{
    max-width:120px;
    height:95px;
    margin: 0 auto;
    justify-content: center;
	align-content: center;
   /** padding: 0; **/
}

/****Grid For Projects Youtube BitcoinDavida Twitter etc..*******/
.creative_projects{
    display: grid;
    max-width:500px;
    max-height: 100%;
    grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
    grid-row: auto;
    margin: 0 auto;
    justify-content: center;
    align-content: center;
    justify-self: center;
    text-align: center;
    border-radius: 10px;
    font-size: 16px;
    color: #ddd;
    box-shadow: 0 0 10px black;
    background-color: #55e004;
    padding: 5px;
}





@media screen and (max-width:252px) {
h1{
  font-size: 24px;  
}
}
