/***Styling For geoffstengel.com NEW Home Page Wanted To Keep It Separate*4/17/2025**/

* {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-color: #003366;
    --secondary-color: #f9f9f9;
    --accent-color: rgb(238, 28, 175); 
    --bkgd-color: #ffffff;
    --card-bkgd: #f9f9f9;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --box-shadow-light: 0 4px 10px rgba(0, 0, 0, 0.1);
    --text-1: #eaf9fa;
    --text-2: #555555;
    --text-3: #f9f9f9;
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    --transition-speed: 600ms;
}  
html{
    background-color: var(--bg-secondary);
    scroll-behavior: smooth;
}
 
body{
    height:100%;
    color: black;
    background-color:var(--bg-secondary);
    padding: 0;
    margin: 0;
}

body::-webkit-scrollbar {
    width: .4rem;
}
body::-webkit-scrollbar-track {
    background: var(--bg-primary);
}
body::-webkit-scrollbar-thumb {
    background: #8eb2d151;
    border-radius: 20px;
}

/***main wrapper grid**/
#main_wrapper_grid {
    display: grid;
    height: 100%;
    max-width: 1800px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    margin: 0 auto;
    gap: 25px;
    justify-content: center;
}

/***test****/
header{
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: #24252A;
}

/*geoffstengel.com text in header*/
#logo{
    cursor: pointer;
    margin-right: auto;
    margin-left: 10%;
    color: var(--text-3);
    text-decoration: none;
    font-weight: 700;
}
#logo a, #logo p{
    color: var(--text-3);
    font-family: Montserrat, sans-serif;
    text-decoration: none;
    font-weight: 700;
    font-family: monospace, sans-serif;
}

#nav-links li{
    display: inline-block;
    
}

#nav-links a:hover{
    color:#0088a9;
}
.nav-links p{
	display: none;
} 

body, html, .tacos, h1, h2, #wrapper, .wrapper h2, .nav, .box, #creative_projects, .img_item, .youtube,
 .box.youtube, .img_item_youtube, #shop_grid, .sprouting_grid, .solar_grid, .music_grid{
    margin: 0 auto;
}

.tacos{
    max-width: 72px;
    max-height:23px;
    text-decoration: none;
    text-align: right;
    font-size: 12px;
    grid-row: 1;
}

.tacos:hover{
    color: hotpink;
}

h1, h2, h4, .tacos, .nav a, #creative_projects{
    color: var(--text-3);
}

h1{
    font-family: 18thcentury;
    font-size: 1rem;
    height: 100%;
    text-shadow: 1px 1px 2px #12181d;
    text-align: center;
    padding-left: 3px;
    padding-right: 3px;
    grid-row: 8;
}

h2{
    font-family: 18thcentury;
    font-size: 20px;
    padding: 0;
    height:  100%;
    text-shadow: 1px 1px 2px #12181d; 
    padding-left: 1px;
    padding-right: 1px;
    grid-row: 3; 
}
 
/***Text Labeling Sections Solar Music Sprouting Homepage item grid***/
h4{
    font-size: 24px;
    text-align: center;
    padding: 10px;
    text-align: left;
    padding-left: 30px;
}
h4 a{
    text-decoration: none;
    color: var(--text-3);
}

.top_banner_grid{
    display: grid;
    /*min-width: 90%; */
    
    max-height: 350px;
    /*margin-left: 10%; */
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: var(--text-3);
    box-shadow: 0 0 10px black;
    border-radius: 10px;
    justify-items: center;
    align-items: center;
    padding: 1.5em;
    background-image: url("../images/film_reel_03.svg");
    opacity: 0.9;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.center_content_grid{
    display: grid;
    width: 80%;
    margin: 0 auto;
    row-gap: 20px;
   /* background-color: #6b92b4;*/
    border-radius: 20px;
    padding: 10px;
}

.social_grid{
    display: grid;
    width: 100%;
    max-height: 350px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    row-gap: 10px;
    border-radius: 10px;
    justify-items: center;
    align-items: center;
    padding: 10px;
    margin: 0 auto;
}
/****Main Section Tag Wrapping Everything Content**Inside Body*******/
.wrapper{
    display: grid;
    max-width: 350px;
    height: 300px;;
    padding: 10px;
    border-radius: 10px;
    grid-template-columns: repeat(1, minmax(50px, auto));
    grid-template-rows: 15px 90px 1fr;
    background: url('../images/geoff_stengel_chicago_by_Zouhair_bkgd_03.png') no-repeat;
    background-position: center;
	background-size: cover;
    box-shadow: 0 0 10px black;
    border-style: solid;
	border-width:5px;
	border-color: var(--text-3);
    justify-self: left;
}

.wrapper h2{
    display: grid;
    float: bottom;
    align-content: center;
    text-align: center;
}

/**Nav Bar Holding Main Page Buttons***/

nav{
    display: flex;
    width: 100%;
    margin: 0 auto;
    float: right;
    align-items: center;
    justify-content: right;
}
.nav a{
    font-size: 10px;
    text-align: center;
    text-decoration: none;
}
.nav p{
    margin-top: 3px;
}

.header_text{
    height: 150px;
    display:grid;
}
.box{
	border-radius: 10px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;	
	padding: 5px;
	border-style: solid;
}

.box0, .box1, .box2, .box3, .box4, .box5, .box6, .box7{
    border-style: solid;
	border-width:2px;
	border-color: #0075D9;
}

/*.box0{background-image: url(../images/home-rickety.svg);} */
.box1{background-image: url(../images/house-W-leafs.svg);}
.box2{background-image: url(../images/chat-icon.svg);}
.box3{background-image: url(../images/taco.svg);}
.box4{background-image: url(../images/sun-emoji-svg.svg);}
.box5{background-image: url(../images/seedling-emoji.png);}
.box6{background-image: url(../images/music-note-blue-bkgd.svg);}
.box7{background-image: url(../svg/moop_logo_anima_recycle_logo_01.svg);}
/***Adjust Boxes For Nav Buttons******/
.box {
    height: 45px;
    width: 45px;
    border-radius: 10px;
	margin-top: 10px;
	justify-content: center;
	align-content: center;
	box-shadow: 0 0 10px black;
	background-color: var(--text-3);
    text-align: center;	
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.box:hover, .box.youtube:hover{
    border-style: solid;
	background-color: hotpink;
	border-width:2px;
	border-color: #DCF506;
}

/****Box*Presses*In*Effect*When*Pressed**Start***/
.box:active{
	height: 37px;
	width: 37px;
} 
.box7{
    height: 25px;
    width: 25px;
}
/****Grid For Projects Youtube BitcoinDavida Twitter etc..*******/
#creative_projects{
    display: grid;
    max-width: 500px;
    max-height: 100%;
    grid-template-columns: repeat(6, minmax(20px, 90px));
    grid-template-rows:auto;
    justify-content: center;
    justify-self: center;
    align-content: center;
    text-align: center;
    border-radius: 10px;
    font-size: 16px;
    box-shadow: 0 0 10px black;
    grid-gap: 5px;
    row-gap: 10px;
    padding: 20px;
}

.thank_you{
    height: 100px;
    color: var(--text-3);
    text-align: center;
    text-justify: center;
    margin: 0 auto;
    padding: 10px;
}

img{
	width: 100%;
	border-radius: 10px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	box-shadow: 0 0 5px black;
}

.img_item{
    width: 100%;
}

/***. youtube is wrapper for Logo & Project Name***/
.youtube{
    max-width:65px;
    max-height:95px;
    font-size: 12px;
    padding: 5px;
    padding-top: 8px;
    justify-items: center;
	align-items: center;
}

/***The Box around Cards For Projects ********/
.box.youtube{
    width: 80%;
    height:90px;
    color: blue;
    background-color:#dddddd88;
    font-size: 10px;
}

.youtube a, .youtube p{
    text-decoration: none;
    color: black;
    padding-top: 5px;
 }

.img_item_youtube{
    width:80%;
    height:55%;
    justify-content: center;
	align-content: center;
    background-color: var(--text-3);
}

/**Sidebar START***/
/*SIDEBAR STYLING START*/
/*******************/

.aside{
    height: 100vh;
    position: fixed;
    background-color: var(--bg-primary);
    transition: width 200ms ease;
    z-index: 1000;
}

#sidebar{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    box-shadow: 3px 0 5px -2px rgba(0, 0, 0, 0.3);
}

.sidebar-item{
    width: 100%;
}

.sidebar-item:last-child{
    margin-top: auto;
}

.sidebar-link{
    display: flex;
    align-items: center;
    height: 5rem; 
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}

.sidebar-link:hover{
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
}
.icon-links{
    height: 55px;
    justify-items: center;
}

/*Text Next To Icons Sidebar*/
.link-text{ 
    display: none;
    margin-left: 1rem;
}

.sidebar-link svg{
    min-width: 2rem;
    margin: 0 1.5rem;
}

.fa-primary {
    color: #ff7eee;
}

.fa-secondary {
    color: #df49a6;
}

.fa-primary, .fa-secondary {
    transition: var(--transition-speed);
}

.sidebar-logo{
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1rem;
    letter-spacing: 0.3ch;
    width: 100%;
}
.sidebar-logo svg{
    transform: rotate(0deg);
    transition: var(--transition-speed);
}

.logo-text{
    display: inline;
    position: absolute;
    left: -999px;
    transition: var(--transition-speed);
}

.aside:hover .sidebar-logo svg {
    transform: rotate(-180deg);
}

@keyframes appear{
    from{
        opacity: 0;
        scale: 0.5;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}
/**Bottom icon bar end*/
/*SIDEBAR STYLING END*/
/*******************/

.homepage_grid_01, .homepage_grid_02, .homepage_grid_03{
    display: grid;
    height: 100%;
    background-color: #0075D9;
    box-shadow: 0 0 10px black;
    border-radius: 10px;
}
/*Tire Grid START*/
#tire_mission_grid{
    display: grid;
    height: 360px;
    min-width: 90%;
    max-width: 1200px;
    grid-template-columns: 1fr 1fr;
    background-color: var(--text-3);
    border-radius: 20px;
    margin-left: 10%;
    margin: 0 auto;
    padding: 5px;
    justify-items: center;
    align-items: center; 
}
/*Tire Grid END*/
.tire_mission_text{
    max-width:100% ;
    height: 100%;
    margin: 0 auto;
    padding: 10px;
    font-size: 20px;
    line-height: 25px;
    color: black;
    font-family: monospace;
    text-shadow: 1px 1px 2px #7dabd2;
    align-content: center;
}

.tire_mission_text p {
    height: 100%;
    margin-top: 15px;
    line-height: 22px;
    line-height: 1.5; /* Adjust line height */
    margin: 0 auto; /* Remove default margin */
    border-radius: 15px;
    text-align: center;
}

.tire_mission_img_01{
    width: 100%;
    max-height: 340px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
/**Shopping Items On Homepage START***/
#shop_grid{
    display: grid;
    min-width: 100%;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 25px;
	grid-column-gap: 20px;
    row-gap: 60px;
    padding: 1.5em; /***Space Between Card & Outer Grid****/ 
	margin: 0 auto;
	text-align: center;
	justify-content: center;
	border-radius: 10px;
   /* margin-left: 10%; */
}
#shop_grid a{
    text-decoration: none;
}
.sprouting_grid, .solar_grid, .music_grid{
    display: grid;
	height: 100%;
	max-width: 100%;
	grid-template-columns: repeat(auto-fill, minmax(150px, auto));
    grid-template-rows: auto;
	grid-gap: 15px;
	grid-column-gap: 20px;
	padding: 1em; /***Space Between Card & Outer Grid****/ 
	margin: 0 auto;
	text-align: center;
	justify-content: center;
	border-radius: 10px;
	text-shadow: 1px 1px 2px #7dabd2;
}
.sprouting_grid div, .solar_grid div, .music_grid div{
    width: 100%;
    height: 100%;
    padding: 10px; /**Adjust Space Between Image & Card Section***/ 
    box-shadow: 0 0 20px black;
    background-color: var(--text-3);
	border-style: solid;
	border-width:4px;
	border-color: #3aad09;
	border-color: #ad097e;
	border-radius: 20px;
}

.sprouting_grid a, .solar_grid a, .music_grid a{
    margin: 0 auto;
}

.sprouting_grid p, .solar_grid p, .music_grid p{
	margin: 5% 10% 0 10%;
	font-size: 20px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
	font-family: Consolas;
}

.item_frame{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 5px;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: none;
    background: none;
    border: none;
    box-shadow: 0 0 0 rgb(214, 17, 152);
    padding:  5px;
}
/****Info For Items Name Price Buy Now Button***START***/
#item_info_grid{
	display: grid;
	grid-template-columns: repeat(1, minmax(20px, auto));
	grid-template-rows: 60px 20px 23px;
	grid-gap: 5px;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-color: none;
	background: none;
	border: none;
	box-shadow: 0 0 0 rgb(214, 17, 152);
	padding: 5px;
    margin: 0 auto;
	padding-top: 0;
	margin-top: 8px;
}

#item_info_grid img, #item_info_grid p{
	margin: 0 auto;
    text-decoration: none;
}
#item_info_grid a{
    text-decoration: none;
}
#item_name{
	font-size: 14px;
	text-shadow: 1px 1px 2px #7dabd2;
	padding: 0;
	margin-top: 0;
	line-height: 18px;
	word-spacing: 1px;
    color: #000;
}

/****Info For Items Name Price Buy Now Button***END***/

/*****Prices On Items Says Check Best Price atm********/
#prices{
	font-size: 10px;
	color: #0075D9;
	text-shadow: 1px 1px 2px #7dabd2;
}
/**Shopping Items On Homepage START***/
.buy_now{
	width: 50%;
}
/************************/
/**Tooltip Popup Explains What Tab Is START**/
.box0::before, .box1::before, .box2::before, .box3::before, .box4::before, .box5::before, .box6::before, .box7::before{
	content: attr(data-tooltip);
	position: absolute;
	background-color: #23232e84;
	color: var(--text-3);
	padding: 0.5em .8em;
	border-radius: 100px;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);
	transform: translateY(-30) rotate(25deg);
	opacity: 0;
	transition: 200ms cubic-bezier(.42,0,.44,1.68);
	font-size: 10px;
	margin-left: 15px;
}
.box0:hover, .box1:hover, .box2:hover, .box3:hover, .box4:hover, .box5:hover, .box6:hover, .box7:hover{
	background-color: var(--accent-color);
	fill: var(--text-3);
}
.box0::after, .box1::after, .box2::after, .box3::after, .box4::after, .box5::after, .box6::after, .box7::after{
	content: '';
	position: absolute;
	height: 0;
	width: 0;
	transform: translateY(0) rotate(25deg);
	opacity: 0;
	transition: 200ms cubic-bezier(.42,0,.44,1.68);
}
.box0:hover::before, .box1:hover::before, .box2:hover::before, .box3:hover::before, .box4:hover::before, .box5:hover::before, .box6:hover::before, .box7:hover::before{
	transform: translateY(0) rotate(0);
	opacity: 1;
}
.box0:hover::after, .box1:hover::after, .box2:hover::after, .box3:hover::after, .box4:hover::after, .box5:hover::after, .box6:hover::after, .box7:hover::after{
	transform: translateY(-42px) rotate(0);
	opacity: 1;
}
/**Tooltip Popup Explains What Tab Is START**/


/****Test dropdown START****/
ul {
	list-style: none;
}

ul li {
	display: inline-block;
	position: relative;
}

ul li a {
	display: block;
	padding: 10px 15px;
	color: var(--text-3); 
	text-decoration: none;
	text-align: center;
	font-size: 16px;
}

li a {
	text-decoration: none;
	color: #3aad09;
}

ul li ul.dropdown li { 
	display: block;
}  

ul li ul.dropdown {
	width: 100%;
	background: #22438c;
	position: absolute;
	z-index: 999;
	display: none;
} 

ul li:hover > ul{
	background: #112c66;
	display: inherit;
}

ul ul li{
	width: 150px;
	float: none;
	display: list-item;
	position: relative;
}

.dropdown a{
	color: #fbb505;
}

/****Test dropdown END****/

.view_all_text{
    width: 80px;
    font-size: 12px;
    padding: 6px;
    border-radius: 40px;
    border: solid 4px #ad097e;
    background-color: yellow;
    margin-left: 25px;
    font-family: monospace;
}


/*****FOOTER*SECTION*START**In Base.html*****/
/************************/
footer {
    background: #333;
    padding: 10px;
    text-align: center;
    color: var(--text-3);
    width: 100%;
}

.footer_grid {
    display: grid;
    width: 100%;
    height: 250px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fill, auto);
    background: #333;
    align-items: center;
    justify-content: center;
    text-align: right;
}
.footer_grid:last-child{
    margin-top: auto;
    
}

/**Decorates and Adjusts Text In Footer**/
.footer_grid a{
    padding-right: 20px;
    color: var(--card-bkgd);
    text-decoration: none;
    text-align: right;
}
/***FOOTER*SECTION*END**In Base.html***/
/************************/



@media screen and (max-width: 1224px){
#logo{
    cursor: pointer;
    position: absolute; 
    left: 50%; 
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0;
}
.nav-links p{
	display: flex;
    text-align: center;
    justify-content: center;
} 
    /**********************************/
    /*****Hamburger START*************/
nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

img.logo {
    position: absolute;
    margin: 10px 10px 10px 0px;
    padding: 0;
    align-self: center;
    left: 45%;
    width: 100px;
}
img.logo {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0px 10px 10px 10px;
  }

.hamburger {
    cursor: pointer;
    width: 20px;
    height: 25px;
    margin: 10px;
    position: fixed;
    top: 10px; 
    right: 10px; 
    margin: 10px;
    margin-top: 0px;
    z-index: 1000;
}

.bar {
    height: 2px;
    margin: 6px 0;
    transition: all 0.3s ease;
    border-radius: 12px;
}

.bar1 {
    background: orange; /* Orange */
}

.bar2 {
    background: #00c853; /* Green */
}

.bar3 {
    background: #2979ff; /* Blue */
}

#nav-links{
    margin-top: 0px;
}

.nav-links {
    display: none;
    position: fixed;
    top: 50px; 
    right: 0;
    background-color: #23232ecd;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    z-index: 1000;
    opacity: 0; /* Start hidden */
    transform: translateY(-10px); /* Initial position */
    transition: opacity 0.3s ease, transform 0.3s ease;
    flex-direction: column;
    width: 100%;
    max-width: 250px;
    height: 100%;
}


.nav-links.show {
    display: flex;
    opacity: 1; /* Fade in */
    transform: translateY(0); /* Move to original position */
    padding-top: 5px;
}

.nav-links li {
    width: 100%; /* Each link takes full width */
    margin-bottom: 0px; /* Space between links */
}

.nav-links a {
    display: block; /* Ensure each link is a block element */
    width: 100%; /* Full width */
    padding: 2px 0; /* Padding for better click area */
    text-align: center; /* Center the text */
    text-decoration: none; /* Remove underline */
    color: #ddd; /* Text color */
    font-size: 10px; /* Font size */
}

.nav-buttons {
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
    transition: background 0.3s, color 0.3s;
}

.nav-buttons:hover {
    color: #000;
}

/* Animation for the bars */
.bar1.active {
    transform: rotate(45deg) translate(6px, 6px); /* Adjusted for better X shape */
    width: 20px;
}

.bar2.active {
    opacity: 0; /* Fade out */
}

.bar3.active {
    transform: rotate(-45deg) translate(6px, -6px); /* Adjusted for better X shape */
 }
.sidebar-link{
    align-content: center;
} 
}
/* Initially hide the hamburger button */
@media screen and (min-width: 1225px) {
    .hamburger {
        display: none; /* Hide hamburger button */
    }
    .center_content_grid{
       float: right;
    }
}
    /**NAV*BAR*END**/
    @media screen and (max-width: 980px) {
.social_grid{
    grid-template-columns: 1fr;
}
    }
 @media screen and (max-width: 950px) {
#tire_mission_grid{
    display: grid;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 10px;
    border-radius: 20px;
    margin-left: 0;
    padding: 5px;
    justify-items: center;
    align-items: center; 
}
}   
@media only screen and (max-width: 600px) {
.top_banner_grid{
    min-width: 90%;
    margin-left: 0;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
} 

#shop_grid{
    padding-top: 1.5em; /***Space Between Card & Outer Grid****/ 
    padding-bottom: 1.5em;
    padding-left: 5px;
    padding-right: 5px;
	margin: 0 auto;
	text-align: center;
	justify-content: center;
    justify-items: center;
    margin-left: 0;
}

#logo{
    cursor: pointer;
    margin-right: auto;
    margin-left: 0px;
}   
.aside {
    bottom: 0;
    width: 100vw;
    height: 5rem;
    transition: width 600ms ease;
}
.sidebar-logo {
    display: none;
}
#sidebar {
    flex-direction: row;
}
.sidebar-link {
    justify-content: center;
}
main {
    margin: 0 auto;
    margin-left: 0;
    padding: 0;
}
 .center_content_grid{
       width: 90%;
    }
}

@media screen and (max-width:500px) {
#Layer_1{
    width: 150px;
    
}
.social_grid svg{
    justify-content: center;
    justify-items: center;
    text-justify: center;
    margin: 0 auto;
}
#creative_projects{
    padding-left: 5px;
    padding-right: 5px;
}
}

@media screen and (max-width:450px) {
body{
    padding:0;
}

#wrapper{
    margin:0;
}

.youtube p{
    font-size: 10px;
 }
h1{
    font-size: 12px;
} 
.tire_mission_img_01{
    width: 100%;
    height: 100%;
}
  .center_content_grid{
       width: 100%;
    }
}

@media screen and (max-width:411px){
    /***The Box around Cards For Projects ********/
#creative_projects{
    grid-template-columns: repeat(4, minmax(20px, 80px));
 }

}

@media screen and (max-width:383px) {
h1{
    height: 30px;
    font-size: 10px;
}

h2{
    font-size: 18px;
}

#wrapper{
    padding:2px;
 }

.sidebar-link svg{
    min-width: .5rem;
    margin: 0 1.0rem;
 } 
.center_content_grid{
      padding: 0px;
   } 
}

@media screen and (max-width:362px) {
.sprouting_grid, .solar_grid, .music_grid{
    display: grid;
	height: 100%;
	max-width: 100%;
	grid-template-columns: repeat(auto-fill, minmax(120px, auto));
	grid-gap: 15px;
	grid-column-gap: 15px;
	padding: .5em; /***Space Between Card & Outer Grid****/ 
}

}

@media screen and (max-width:350px) {
.top_banner_grid{
    width: 100%;
    max-height: 350px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding: .5em;
}
.social_grid{
    grid-template-rows: auto;
    row-gap: 10px;
    padding: 5px;
    justify-items: center;
 }
 .tire_mission_text{
    padding: 10px;
    font-size: 18px;
    line-height: 23px;
    color: black;
}
}

@media screen and (max-width:320px) {
#creative_projects{
    grid-template-columns: repeat(3, minmax(20px, 80px));
    padding: 5px;
}
h4{
    font-size: 22px;
}
}

@media screen and (max-width:276px) {
.center_content_grid{
      padding: 10px;
   } 
  #shop_grid{
    row-gap:20px;
  } 
}
@media screen and (max-width:269px) {
body{
    width: 100vw;
    height: 100vh;
}

h1{
    font-size: 12px;
}

h2{
    font-size: 100%;
}  

.header_text{
    height: 80%;
    display:grid;
}

.nav{
    grid-gap:1px;
}

.nav p{
    font-size: 14px;
}

.box {
    height: 35px;
    width: 35px;
    padding: 0;
    margin: 0 auto;
    grid-gap:1px;
}
.top_banner_grid{
    width: 100%;
    max-height: 350px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    padding: .5em;
}
.wrapper{
    display: none;
 }

 #creative_projects{
    padding: 0;
 }
}

/****iwatches Sizes & Such***204px*****/  
@media screen and (max-width:204px) { 
h1{
    grid-row: 8;
}

h2{
    height: 28px;
    font-size: 12px;
    grid-row: 7;
}

/**Nav Bar Holding Main Page Buttons***/
.nav{ 
    grid-template-columns: repeat(2, minmax(30px, auto));
    grid-template-rows: auto;
    column-gap: 2px;
    font-size: 16px;
    grid-row: 2;
} 

.nav a{
    font-size: 12px;
    text-decoration: none;
}

.nav p{
    margin-top: 3px;
}



/****Grid For Projects Youtube BitcoinDavida Twitter etc..*******/
#creative_projects{
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(auto-fit, minmax(30px, 60px));
    grid-template-rows:2;
    font-size: 10px;
    grid-gap: 5px;
    grid-row: 4;
}

 .tacos a{
    max-width: 100%;
 }
}

@media screen and (max-width:110px) {   
.wrapper{
    font-size: 20px; 
    padding: 0; 
    margin: 0;
    height: 100%;
}

.creative_projects{
    height: 100vh;
}
h1{
    display:none;
 }
}