/***CSS*Index*Page***Geoff*Stengel***/
* {
	margin: 0;
	padding: 0;
}
html{
	background-image: repeating-linear-gradient(135deg, rgb(0,0,0) 0px, rgb(0,0,0) 10px,transparent 10px, transparent 11px),repeating-linear-gradient(22.5deg, rgb(0,0,0) 0px, rgb(0,0,0) 10px,transparent 10px, transparent 11px),linear-gradient(90deg, hsl(194,74%,56%),hsl(266,74%,56%),hsl(338,74%,56%),hsl(50,74%,56%),hsl(122,74%,56%));

}
body, html{
	background-color: rgb(0, 191, 255);
	/**background: #0a0212; **/
    width: 100%;
    height:100%;
	margin: 0 auto;
    
}

body{
    display: grid;
    max-width: 700px;
    height: 90vh;
    margin: 0 auto;
    justify-content: center;
 /**   align-content: center; **/
    padding-top: 2px;
    background-color: transparent;
}

h1{
    color: #ddd;
    font-family: 18thcentury;
    font-size: 36px;
    margin: 0 auto;
    height: 100%;
    text-shadow: 1px 1px 2px #12181d;
    align-content: center;
    text-align: center;
}
h2{
    color: #ddd;
    font-family: 18thcentury;
    font-size: 20px;
    padding: 0;
    margin: 0 auto;
    max-height:  100%;
    text-shadow: 1px 1px 2px #12181d;
}
 
/****Main Section Tag Wrapping Content**Inside Body*******/
#wrapper{
    display: grid;
    max-width: 500px;
    max-height:100vh;
    padding: 10px;
    /**margin-top: 5%;**/
    border-radius: 10px;
    grid-template-columns: repeat(1, minmax(50px, auto));
    grid-template-rows: repeat(4, minmax(50px, auto));
    background: url('../images/harmonica.svg') no-repeat;
    background-color: #0075D9;
    box-shadow: 0 0 10px black;
    margin: 0 auto;
    border-style: solid;
	border-width:5px;
	border-color: #ddd;
    margin-left: 1%;
    margin-right: 1%;
   
}

/**Nav Bar Holding Main Page Buttons***/
.nav{ 
    display: grid;
    max-width:100%;
    height:100%;
    grid-template-columns: repeat(auto-fit, minmax(50px, auto));
    grid-template-rows: auto;
    column-gap: 5%;
    margin: 0 auto;
    justify-content: center;
    align-content: center;
    text-align: center;
    border-radius: 10px;
    font-size: 16px;
    color: #ddd;
} 

.nav a{
    font-size: 16px;
    color: #ddd;
    text-decoration: none;
}

.header_text{
    height: 150px;
    display:grid;
}

.box0{
    background-image: url(../images/home-rickety.svg);
    border-style: solid;
	border-width:2px;
	border-color: #3aad09;
}
.box1{
    background-image: url(../images/house-W-leafs.svg);
    border-style: solid;
	border-width:2px;
	border-color: #3aad09;
}
.box2{
    background-image: url(../images/chat-icon.svg);
    border-style: solid;
	border-width: 3px;
	border-color: #3aad09;
}

/***Adjust Boxes For Nav Buttons******/
.box {
    height: 55px;
    width: 55px;
    border-radius: 10px;
	margin: 0 auto;
	margin-top: 10px;
	justify-content: center;
	align-content: center;
	box-shadow: 0 0 10px black;
	background-color: #ddd;
    text-align: center;	
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
   /** box-shadow: 2px 2px 2px 2px rgb(26, 26, 26);**/
}

.box:hover{
	background-color: hotpink;
}

/****Box*Presses*In*Effect*When*Pressed**Start***/
.box:active{
	height: 40px;
	width: 40px;
}

img{
	width: 100%;
	border-radius: 10px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	box-shadow: 0 0 5px black;
}

.youtube{
    max-width:65px;
    height:100%;
    margin: 0 auto;
    font-size: 12px;
    padding: 5px;
    padding-top: 8px;
    margin: 0 auto;
    justify-items: center;
	align-items: center;
 /**   background-color: cadetblue;**/
    background-color:#ddd;
}

/***The Box around Cards For Projects ********/
.box.youtube{
    width:auto;
    height: auto;
    color: blue;
    margin: 0 auto;
   
}

.youtube a, .youtube p{
    text-decoration: none;
    color: black;
    padding-top: 5px;
 }

.img_item_youtube{
    width:85%;
    height:45%;
    margin: 0 auto;
    justify-content: center;
	align-content: center;
   /** padding: 0; **/
}

/****Grid For Projects Youtube BitcoinDavida Twitter etc..*******/
.creative_projects{
    display: grid;
    width: 95%;
    max-height: 100%;
    grid-template-columns: repeat(auto-fit, minmax(40px, auto));
    margin: 0 auto;
    justify-content: center;
    align-content: center;
    text-align: center;
    border-radius: 10px;
    font-size: 16px;
    color: #ddd;
    box-shadow: 0 0 10px black;
    background-color: #0075D9;
    padding: 5px;
    grid-gap: 5%;
    grid-row: 3/5;
    border-style: solid;
	border-width:4px;
	border-color: #ddd;
}

@media screen and (max-width:450px) {
body{
    padding:0;
}

#wrapper{
    margin:0;
}

.youtube p{
    font-size: 10px;
 }
}

@media screen and (max-width:383px) {
 
    h1{
        height: 30px;
    }

#wrapper{
    padding:2px;
 }
}

@media screen and (max-width:269px) {

body{
    width: 100vw;
    height: 100vh;
}

h1{
  font-size: 14px;
}
h2{
    font-size: 100%;
}  

.header_text{
    height: 80%;
    display:grid;
}

.nav{
    margin: 0 auto;
    grid-gap:1px;
}

.nav p{
    font-size: 14px;
}

.box {
    height: 35px;
    width: 35px;
    padding: 0;
    margin: 0 auto;
    grid-gap:1px;
}

.wrapper{
    padding: 0;
    width:100vw;
 }
 .creative_projects{
    padding: 0;
 }
}

/****iwatches Sizes & Such***150px*****/  
@media screen and (max-width:150px) {   
}

@media screen and (max-width:110px) {   
    .wrapper{
        font-size: 20px; 
        padding: 0; 
        margin: 0;
        height: 100%;
    }

.creative_projects{
        height: 100vh;
}
h1{
    display:none;
 }
}