{%  load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Disclaimer info">
    <meta name="keywords" content="disclaimer, coinbase, coinbase earn, coinbase learn,
	coinbase learn and earn, coinbase buy crypto, 							   
    coinbase buy bitcoin, bitcoin davida, youtube, brave, bat token, earn crypto,
    blog, crypto blog, bitcoin, crypto, crypto charts, xrp, ethereum, litecoin">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/disclaimer.css' %}"/>
	<!-----Thumbnail Image In Index---Start---------->
	<link rel="shortcut icon" type="image/png" href="{% static 'images/harmonica.svg' %}">
	<!-----Thumbnail Image In Index----Finish--------->
    <title>✅Disclaimer</title>
</head>
	
<body>
<style>
	@media screen and (max-width: 416px){	
	h1{
	font-size:  50px;	
	}
	}

	@media screen and (max-width: 358px){	
	h1{
	font-size:  40px;	
	}
	}	
</style>
<div class="container">
	<div class="wrapper">
	<header>
		<nav class="nav">
			<a href="{% url 'home_views' %}"><img class="box box0" src="{% static 'images/home-rickety.svg' %}"><p>Home</p></a>
			<a href="{% url 'shop_views' %}"><img class="box box1" src="{% static 'images/house-W-leafs.svg' %}"><p>Shop</p></a>		
			<a href="{% url 'blog_views' %}"><img class="box box2" src="{% static 'images/chat-icon.svg' %}"><p>Blog</p></a>
			<a href="{% url 'donate' %}"><img class="box box3" src="{% static 'images/cash_giving_icon.svg' %}"><p>Tip</p></a>
		</nav>	
	</header>
	<div class="blog blog2">
	
	<h1>"Disclaimerish"</h1>	
		

<div class="disclaimerish">
<p>		
	This is kinda of a broad or general disclaimer "disclamerish"..
	i do not store any data the only cookies being used are from google analytics,
	& i dont know any other better options to gather stats & analytics lol.
</p>	
<p>Throughout the website some of the links have an 
	<a href="https://en.wikipedia.org/wiki/Affiliate_marketing" target="_blank">affiliate</a> link with "if lucky am making
	a few dollars here and there from them" with hopes to profit big one day and live a life of luxury,
	only have them on products that I use or used myself, or think
	for real that they're a good product, or at least up to standards based on todays technology and ability..
	also the affiliate links are in there as well because we were probably already talking about the product
	and was already recommending or suggesting, so mind as well make a few bucks if possible.. that's how the
	site can keep going. Some of the links are Amazon Assoiciate & Affiliate, As An Amazon Associate,
	I Earn From Qualifying Purchases FYI, etc.. for my account or from
	Trezor or Ledger.
</p>	
<p>I'm not a professional Stunt Man nor Mechanic do not try any of this at home or anyone elses home,
	I'm not a Financial Advisor, I'm a Stoner Not A Stockbroker.  Before you listen or take advice from me here
	there or anywhere including even anything i touch, consult a doctor first. Anything that comes out my mouth,
	paper, computers, videos or tech from me is
	<a href="https://en.wikipedia.org/wiki/Opinion" target="_blank">Opinions</a>,
    i am not responsible for people using my opinions as financial advice or life advice & you should
	always do your own research (DYR), the other most common saying only bet what you can afford to lose..
	This disclaimer also goes for my chat groups, any chat groups, group texts, group conversations, video calls,
	one on one calls, one on one texts, one on one conversations, social media posts, social media groups,
	all and any future social media sites that may exist, groups, or discords.
</p>	
<p>
   For projects that am working	on, with, or sharing opinons to etc.. i'm not directly affiliated with any of them.
	I Geoff Stengel am 100% an Independent Contractor who can only vouge for himself on everything & everywhere, 
	which also my views & opinons are soley my own. For projects i work directly off tips
	& are expected from people or robots if ya call, text, email, ask any questions basically work related
	or non work related casual conversation and non casual conversation, in person or outer body, wether it be for 
	youtube, twitch, website building, adventures, promos etc, 
	<a href="https://square.link/u/yu9hDSBt" target="_blank">Tip a Taco🌮</a> or send crypto to Stengel.eth ₿ 
	& there is nothing expected from me or hoped for nor do i owe anything at all.
	Tipping for a one on one personal time of any sort is expected from you tho, you're tipping for my time with no expectations.
	Remember this is for projects that met through work, friends or even Street related when doing videos or other
	social media ventures or tech confrences etc + Yup friends who turned
	<a href="https://en.wiktionary.org/wiki/cryptobro">crypto Bro</a> or project buddy related & started asking any advice or Opinions...
	So if you turned crypto bro or tech friend & are in my crypto circle now this all applies to everyone of ya lol,
	Tip a Taco🌮 each & every time. So even if ya text to say what up you better have a Tip ready lol. The point of
	it is to deter people from calling and texting, takes me away from other work if it's a silly or remedial question
	it's to try & have people do their own research. so if ya text it doesn't matter even if matter if i answer Tip a Taco even if i don't
	know the answer when i do answer the phone i'm expecting a tip🌮 cause someones calling or texting needing my time. As i always tell people
	i don't want to work on their projects at all am just trying to guide them in the correct direction.  I do like to do
	work on my own projects or quick build a static site kinda gigs. also Im not attached to any project  & will disappear 
	without notice all the time 100% so dont make anything in life
	rely on me to be around to run day to day.
</p>	
<p>	 
	Just like to lay my cards on the table. yup there was my disclamerish, oh also by Landing on or
	by being on this page you agree to terms of service, if ya dont read the entire thing that's on u.
	also from time to time, i come back and update some of the content so Terms of Service or and service can change
	at any time, always finding little mistakes or typos or laws & regulations change, trying to keep everything
	as accurate as possible. 
	Thank you hope this was helpful enjoy!
</p>	
<p>
    That should cover that on the legal jargen or confusion. 🤓 
</p>			
</div>
<!--------------------------------------------------------------------->		
		
<!--------------Trezor ad larger logo---------------------------------->	

<!---------	<a href="https://trezor.io/?offer_id=12&aff_id=2356" target="_blank"><div id="adlogo"></div></a>-------->	
	<a href="https://www.tiktok.com/@stengelgeoff" target="_blank"><img id="adlogo" src="{% static 'images/tikTok_logo.jpg' %}"></a>
<!--------------Trezor finish ad larger logo--------------------------->		
						
<!----Tipbot app-& Menagerie Logo--start-------->	
<footer class="footer">			
	<a href="https://square.link/u/yu9hDSBt" target="_blank"><div class="tip_a_taco"><p>Tip a Taco🌮</p></div></a>
	<a href="https://geoffstengel.com" target="_blank"><div class="my_logo"><p>GeoffStengel.com</p></div></a>	
</footer>
<!----Tipbot app Menagerie Logo finish--------->
	</div>		
</div>
</div>	
<!----------Analytics-----updated tagmanager----------------------->	   
<script src="../js/footer.js"></script> <!---Added This For Google Tag Manager--->
	</body>
</html>
			
			
			
			